{% extends 'base/main.html' %} {% block content %}

<div class="lijst-container">
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="header-bar">
    <div>
        <h1>Hallo {{request.user|title}}</h1>
        <h3 style="margin:0">Je heb <i>{{count}}</i>
            {% if count < 2 and count > 0%}
            taak te doen
            {%else%}
            taken te doen
            {%endif%}
        </h3>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a> {% else %}
    <a href="{% url 'login' %}">Login</a> {% endif %}
</div>


<!-- Hidden form. Form submits new item positions -->

<div id="tasklist" class="task-items-wrapper">
  <h3 id="add"><a href="{% url 'maak-taak' %}">&#43</a></h3>
    {% for taak in taken %}
    <div class="task-wrapper" data-position="{{taak.pk}}">
        <div class="task-title">
            {% if taak.compleet %}
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'update-taak' taak.id %}">{{taak}}</a></s></i> {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'update-taak' taak.id %}">{{taak}} </a> {% endif %}
            <span class="date">{{ taak.datumKlaar|date:"d-m-Y" }}</span>
        </div>
        <div class="task-controls">
            <a class="delete-link" href="{% url 'delete-taak' taak.id %}">&#215;</a>
        </div>
    </div>

    
    {% endfor %}
</div>
</div>

{% endblock content %}